/AutoGrader.class
/BoatGrader.class
/ThreadGrader5$a.class
/ThreadGrader5.class
/BasicTestGrader.class
/BasicTestGrader$ThreadHandler.class
/ThreadGrader2.class
/ThreadGrader2$a.class
/ThreadGrader2$b.class
/ThreadGrader1.class
/ThreadGrader1$Printer.class
